
/*Unauthorized page css*/
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }
  
  .error-heading {
    font-size: 6rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
  }
  
  .error-subheading {
    font-size: 1.5rem;
    color: var(--clr-neutral-900);
  }
  
  .error-text {
    font-size: 1.2rem;
  }
  
  .error-button {
    text-decoration: none;
    font-size: 1rem;
    background-color: #3b7ddd;
    color: var(--clr-neutral-0);
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease;
  }
  
  .error-button:hover {
    background-color: #5694f1;
  }
  
  /*404 page css */
  
.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}