.content .btn {
    background: #f05462;
    color: white !important;
    padding: 5px 10px;
    text-align: center;
}

.content .btn:hover {
    color: #f05462 !important;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
    gap:10px;
}

.side-menu li:hover {
    background: white;
    color: #f05462;
}
.side-menu li img {
    width: initial !important;
    height: initial !important;
    object-fit: initial !important;
}

.container-admin {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container-admin .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.container-admin .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container-admin .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}
.title {
    width: 90%;
    height: 10vh;
    display: flex;
    padding: 15px 10px;
    align-items: center;
}
.title .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container-admin .header .nav .search input[type=text],
.title .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container-admin .header .nav .search button,
.title .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-admin .header .nav .search button img,
.title .search button img {
    width: 30px !important;
    height: 30px !important;
}

.container-admin .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-admin .header .nav .user img {
    width: 40px;
    height: 40px;
}

.container-admin .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container-admin .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-admin .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container-admin .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-admin .content .cards .card { /* "!important" use to ignore material UI CSS card*/
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    flex-direction: row !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .container-admin .content .content-2 {
    min-height: 60vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
} */

/* .container-admin .content .content-2 */
 .data-table-container {
    min-height: 50vh;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container-admin .content .content-2 .new-students {
    background: white;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container-admin .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container-admin .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container-admin .content .content-2 .data-table-container table th:nth-child(2),
    .container-admin .content .content-2 .data-table-container table td:nth-child(2) {
        display: none;
    }
}